<form class="filter-form " id="collection-sidebar-filter">
  <div class="active-filters selected-filters-options">
    {%- for filter in collection.filters -%}
      {%- if filter.type == 'price_range' -%}
        {%- if filter.min_value.value != null or filter.max_value.value != null -%}
          <a
            class="active-filters__remove-filter selected-option-item"
            href="{{ filter.url_to_remove }}"
          >
            {%- assign min_value = filter.min_value.value | default: 0 -%}
            {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
            {{ min_value | money }} - {{ max_value | money }} X
          </a>
        {%- endif -%}
      {%- else -%}
        {%- for filter_value in filter.active_values -%}
          <a
            class="active-filters__remove-filter selected-option-item "
            href="{{ filter_value.url_to_remove }}"
          >
            {% if filter.label == 'Colour' %}
              <span
                class="color-box"
                style="border: 1px solid #e8e8e1;height: 16px;width: 16px;display: inline-block;background-color:{{- filter_value.label -}}; background-image:url({{  filter_value.label |  replace: " ", "-" | append: '.png' | file_img_url }});"
              ></span>
            {% else %}
              {{ filter.label }}: {{ filter_value.label -}}
            {%- endif %}
            X
          </a>
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
    {%- for filter in collection.filters -%}
      {% if filter.active_values.size > 0 %}
        {% break %}
      {% endif %}
    {%- endfor -%}
    <a
      href="{{ collection.url }}?sort_by={{ collection.sort_by }}"
      class="active-filters__clear clear-all-btn"
      >Clear all</a
    >
  </div>
  {%- for filter in collection.filters -%}
    <details class="filter-group">
      <summary class="filter-group-summary">
        <div class="filter-option-title">
          <div>
            <span>{{ filter.label }}</span>

            {%- if filter.active_values.size > 0 -%}
              <span>({{ filter.active_values.size }})</span>
            {%- endif -%}
          </div>
          <span class="filter-icons" role="presentation">
            <svg
              class="is-opened-hidden"
              width="13"
              height="13"
              viewBox="0 0 13 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04882 12.0542L6.00782 0.00219727L6.04882 12.0542Z" fill="#F1D5D5"></path>
              <path d="M6.00708 0.00195312L6.04908 12.054" stroke="#231F20" stroke-width="1"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0537 6.04845L0.00268555 6.00745L12.0537 6.04845Z" fill="#F1D5D5"></path>
              <path d="M12.054 6.04895L0.00195312 6.00695" stroke="#231F20" stroke-width="1"></path>
            </svg>
            <svg
              class="is-opened-visible"
              width="13"
              height="13"
              viewBox="0 0 13 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04882 12.0542L6.00782 0.00219727L6.04882 12.0542Z" fill="#F1D5D5"></path>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0537 6.04858L0.00268555 6.00758L12.0537 6.04858Z" fill="#F1D5D5"></path>
              <path d="M12.054 6.04883L0.00195312 6.00683" stroke="#231F20" stroke-width="1"></path>
            </svg>
          </span>
        </div>
      </summary>

      <div class="filter-group-display">
        <div class="filter-group-display__header">
          <span class="filter-group-display__header-selected">{{- filter.active_values.size }} selected</span>

          {%- if filter.active_values.size > 0 -%}
            <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
          {%- endif -%}
        </div>

        {%- case filter.type -%}
          {%- when 'boolean', 'list' -%}
            <ul class="filter-group-display__list options-list">
              {%- for filter_value in filter.values -%}
                <li class="filter-group-display__list-item">
                  <label
                    for="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                    class="{{ filter_value.label}} filter_{{ filter.label }}"
                  >
                    <input
                      type="checkbox"
                      name="{{ filter_value.param_name }}"
                      value="{{ filter_value.value }}"
                      onclick="document.getElementById('collection-sidebar-filter').submit();"
                      id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      {% if filter_value.active -%}
                        checked
                      {%- endif %}
                      {% if filter_value.count == 0 and filter_value.active == false -%}
                        disabled
                      {%- endif %}
                    >
                    {% if filter.label == 'Colour' %}
                      <span
                        class="color-box"
                        style="border: 1px solid #e8e8e1;height: 16px;width: 16px;display: inline-block;background-color:{{- filter_value.label -}}; background-image:url({{  filter_value.label |  replace: " ", "-" | append: '.png' | file_img_url }});"
                      ></span>
                    {% endif %}
                    <span>{{- filter_value.label -}}</span>
                  </label>
                </li>
              {%- endfor -%}
            </ul>
            {% comment %}
              <div class="filter-group-display__submit"> <input type="submit" value="Apply"> </div>
            {% endcomment %}
          {%- when 'price_range' -%}
            <div class="filter-group-display__price-range">
              <div class="filter-group-display__price-range-from">
                <span>{{ cart.currency.symbol }}</span>
                <input
                  name="{{ filter.min_value.param_name }}"
                  id="Filter-{{ filter.min_value.param_name }}"
                  {% if filter.min_value.value -%}
                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="From"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >
                {% comment %}<label for="Filter-{{ filter.min_value.param_name }}">From</label>{% endcomment %}
              </div>
              <div class="filter-group-display__price-range-to">
                <span>{{ cart.currency.symbol }}</span>
                <input
                  name="{{ filter.max_value.param_name }}"
                  id="Filter-{{ filter.max_value.param_name }}"
                  {% if filter.max_value.value -%}
                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                  {%- endif %}
                  type="number"
                  placeholder="To"
                  min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                >
                {% comment %}
                  <label for="Filter-{{ filter.max_value.param_name }}">To</label>
                {% endcomment %}
              </div>
            </div>

            <div class="filter-group-display__submit">
              <input type="submit" value="Apply">
            </div>
        {%- endcase -%}
      </div>
    </details>
  {%- endfor -%}
</form>
