{{ 'component-pagination.css' | asset_url | stylesheet_tag }}

{%- if paginate.parts.size > 0 -%}
 
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
       <div class="pagination-wrapper">
        {%- if paginate.previous -%}
          <div class="pagination-item prev">
            <a
              href="{{ paginate.previous.url }}{{ anchor }}"
              class="pagination__item pagination__item--next pagination__item-arrow link motion-reduce"
              aria-label="{{ 'general.pagination.previous' | t }}"
            >
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98">
                  <path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path>
              </svg>
            </a>
          </div>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          
            {%- if part.is_link -%}
              <div class="pagination-item">
              <a
                href="{{ part.url }}{{ anchor }}"
                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              >
                {{- part.title -}}
              </a>
          </div>
            {%- else -%}
              
            {%- if part.title == paginate.current_page -%}
              <div class="pagination-item current">
                
                  {{- part.title -}}
                
                </div>
              {%- else -%}
                <span class="pagination-item dotted">{{ part.title }}</span>
              {%- endif -%}
               
            {%- endif -%}

        {%- endfor -%}

        {%- if paginate.next -%}
          <div class="pagination-item next">
            <a
              href="{{ paginate.next.url }}{{ anchor }}"
              class="pagination__item pagination__item--prev pagination__item-arrow link motion-reduce"
              aria-label="{{ 'general.pagination.next' | t }}"
            >
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98">
                  <path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path>
              </svg>
            </a>
          </div>
        {%- endif -%}
      </div>
    </nav>
 
{%- endif -%}
