<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} Page Title {% endcomment %}

    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>
    <meta name="description" content="Description text here">

    <meta name="google-site-verification" content="NQ91UJsztMTKAsq_LTK1Hg1Lf12VCxclAVBdY9bdJC8">
    <link
      rel="shortcut icon"
      href="https://cdn.shopify.com/s/files/1/0282/8166/7663/files/favicon.ico?v=1688711481"
      type="image/png">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {{ content_for_header }}

    {% comment %} CSS START {% endcomment %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'fonts.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'slick.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'mobile-nav.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
    {% comment %} CSS END {% endcomment %}
    <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'pubsub.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {% comment %} JS SECTION START {% endcomment %}
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"></script>

    {{ 'slick.min.js' | asset_url | script_tag }}
    {{ 'bootstrap.min.js' | asset_url | script_tag }}
    {{ 'mobile-nav.js' | asset_url | script_tag }}
    {{ 'custom.js' | asset_url | script_tag }}

    {% comment %} JS SECTION END {% endcomment %}

    <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

    <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

    {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart.css' | asset_url | stylesheet_tag }}
    {{ 'component-totals.css' | asset_url | stylesheet_tag }}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
    {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
    {{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
    {{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}
  </head>

  <body class="{{ page.title }}">
    {% section 'announcement-bar' %}
    {% section 'header' %}
    {{ content_for_layout }}
    {% comment %}
    {% section 'top-seller-products' %}
    {% endcomment %}
    {% section 'site-footer' %}
    {%- render 'cart-drawer' -%}
    <script>



      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`
      };


      window.__kpWishlist = {
        money_format: '{{ shop.money_format }}'
      };
    </script>
    {% include 'size-chart' %}

  <script>
      if ($(".customer.addresses")) {
        $(".customer.addresses .address, .customer.addresses .edit").on('click', function() {
        $(this).attr('aria-expanded', $(this).attr('aria-expanded') === 'true' ? false : true);
        });
      }

     $(function () {
       $('.cancel').on('click', function () {
             $(".customer.addresses .address, .customer.addresses .edit").attr('aria-expanded', false);
       });
    });
  </script>
    
  {{ 'kp-wishlist.js' | asset_url | script_tag }}
  <script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    
</body>
</html>