<div class="header-wrapper">
    <header class="site-header">
        <div class="container-fluid">
            <div class="align-items-center d-flex justify-content-between">
                <div class="mobile-header">
                    <a class="nav-toggle" title="Navigation toggle" href="#">
                        <svg class="stack" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.257143 0.5H17.7429" stroke="black" stroke-width="0.5" stroke-linecap="square"></path>
                            <path d="M0.257143 7.5H17.7429" stroke="black" stroke-width="0.5" stroke-linecap="square"></path>
                            <path d="M0.257143 14.5H17.7429" stroke="black" stroke-width="0.5" stroke-linecap="square"></path>
                        </svg>                       
                    </a>
                    <a class="nav-close" title="Navigation toggle" href="#">
                        <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="35px" height="35px">
                            <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"></path>
                        </svg>
                    </a>
                    <a href="#" title="Search" class="search-header search-header-mobile">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.77318 0.499878C11.7912 0.499878 15.0462 3.79888 15.0462 7.86788C15.0462 11.9369 11.7912 15.2359 7.77318 15.2359C3.75618 15.2359 0.500183 11.9369 0.500183 7.86788C0.500183 3.79888 3.75618 0.499878 7.77318 0.499878" stroke="#231F20"></path>
                            <path d="M12.8728 13.12L19.0218 18.799" stroke="#231F20"></path>
                        </svg>                   
                    </a>
                </div>
              
                <div class="header-logo">
                  {% if section.settings.logo %}
                    <a class="logo" href="{{ routes.root_url }}" title="Welcome to SOW">
                        <img class="site-header__logo-link-primary" src="{{section.settings.logo | img_url: 'master' }}" width="140" height="52" alt="Hello she only wears">
                    </a>
                  {% else %}
                     <h1 class="h2">{{ shop.name }}</h1>
                  {% endif %}
                </div>

                <div class="header-menu">
                    <nav class="navigation">
                        <ul>
                          {% for block in section.blocks %}
                          {% if block.type == 'mega_1' %}
                            <li class="hassubmenu">                            
                                <a href="{{ block.settings.menu_title_link_2 }}" title="{{ block.settings.menu_title_2 }}"><span>{{ block.settings.menu_title_2 }}</span></a>
                                <div class="submenu">
                                    <div class="container">
                                      {% for link in linklists[block.settings.menu_style_2].links %}
                                        
                                        <ul>
                                            {%- assign three_level_nav = false -%}
                                            {%- assign child_list_handle = link.title | handleize -%}
                                            {% if linklists[child_list_handle].links != blank %}
                                            {% for childlink in linklists[child_list_handle].links %}
                                            {% assign grand_child_list_handle = childlink.title | handleize %}
                                            {% if linklists[grand_child_list_handle].links != blank %}
                                            {%- assign three_level_nav = true -%}
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                            <li class="sub-item"><a href="{{ link.url }}" title="{{ block.settings.menu_title_2 }}"><span>{{ link.title }}</span></a></li>                              
                                              {% for childlink in linklists[child_list_handle].links %} 
                                                <li class="sub-item">
                                                  <a href="{{ childlink.url }}" title="{{ childlink.title }}"><div>{{ childlink.title }}</div></a>
                                                </li>
                                              {% endfor %}
                                             {% if linklists[child_list_handle].links != blank %}{% endif %}

                                        </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li> 
                          {% endif %}
                          {% endfor %}                          
                        </ul>
                    </nav>                    
                </div>

                <div class="d-flex align-items-center header-right-icons">
                    <div class="header-search">
                        <a href="#" title="Search" class="search-header search-header-desk">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.77318 0.499878C11.7912 0.499878 15.0462 3.79888 15.0462 7.86788C15.0462 11.9369 11.7912 15.2359 7.77318 15.2359C3.75618 15.2359 0.500183 11.9369 0.500183 7.86788C0.500183 3.79888 3.75618 0.499878 7.77318 0.499878" stroke="#231F20"></path>
                                <path d="M12.8728 13.12L19.0218 18.799" stroke="#231F20"></path>
                            </svg>                   
                        </a>
                    </div>
                    <div class="header-account">
                        <a href="#" class="account-header" title="{%- if customer -%}Logout here{%- else -%}Login here{%- endif -%}">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.2776 5.08749C13.2776 7.62149 11.2236 9.67549 8.6906 9.67549C6.1566 9.67549 4.1026 7.62149 4.1026 5.08749C4.1026 2.55349 6.1566 0.500488 8.6906 0.500488C11.2236 0.500488 13.2776 2.55349 13.2776 5.08749Z" stroke="#231F20"></path>
                                <path d="M8.69062 9.83557C15.3586 9.83557 17.4846 17.3506 16.7386 18.7896C16.4686 19.3096 15.9136 19.3636 15.4626 19.3816H1.91762C1.46662 19.3636 0.911618 19.3096 0.641618 18.7896C-0.104382 17.3506 2.02162 9.83557 8.69062 9.83557" stroke="#231F20"></path>
                            </svg>            
                        </a>
                        <div class="account-dropdown">
                            <ul class="account-dropdown-list">
                            {%- if customer -%}
                                <li class="item"><a href="{{ routes.account_url }}" title="{{ 'customer.account.title' | t }}">{{ 'customer.account.title' | t }}</a></li>
                                <li class="item"><a href="{{ routes.account_logout_url }}" title="{{ 'customer.log_out' | t }}">{{ 'customer.log_out' | t }}</a></li>
                            {%  else %}
                                <li class="item"><a href="{{ routes.account_login_url }}" title="{{ 'customer.log_in' | t }}">{{ 'customer.log_in' | t }}</a></li>
                                <li class="item"><a href="{{ routes.account_register_url }}" title="{{ 'customer.login_page.sign_up' | t }}">{{ 'customer.login_page.sign_up' | t }}</a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% comment %} Wishlist {% endcomment %}

                    <div class="wishlist-icon">
                        <a href="/pages/wishlist" class="wk-link wk-empty" title="View Wishlist">
                            <div class="wk-icon">
                                <svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64px" height="60.833px" viewBox="0 0 64 60.833">
                                    <path stroke="#000" stroke-width="5" stroke-miterlimit="10" fill-opacity="0" d="M45.684,2.654c-6.057,0-11.27,4.927-13.684,10.073 c-2.417-5.145-7.63-10.073-13.687-10.073c-8.349,0-15.125,6.776-15.125,15.127c0,16.983,17.134,21.438,28.812,38.231 c11.038-16.688,28.811-21.787,28.811-38.231C60.811,9.431,54.033,2.654,45.684,2.654z"></path>
                                </svg>
                            </div> 
                            <span class="wk-count">0</span>
                        </a>
                    </div>

                    {% comment %} Wishlist {% endcomment %}
                    <div class="minicart">
                        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset cart__contents cart-drawer__form cart-icon" id="cart-icon-bubble" title="Minicart" data-icon="bag" aria-expanded="false">
                            {%- liquid
                            if cart == empty
                                render 'icon-cart-empty'
                            else
                                render 'icon-cart'
                            endif
                            -%}
                            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
                            {%- if cart != empty -%}
                            <div class="cart-count-bubble">
                                {%- if cart.item_count < 100 -%}
                                <span aria-hidden="true">{{ cart.item_count }}</span>
                                {%- endif -%}
                                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                            </div>
                            {%- endif -%}
                        </a>
                    </div>
                </div>                
            </div>
            <div class="search-dropdown">
               <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                <div class="search-dropdown__wrapper">
                    <input type="search" aria-label="search" name="Search" placeholder="SEARCH">
                    <button type="submit" aria-label="submit" class="search-submit">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.77318 0.499878C11.7912 0.499878 15.0462 3.79888 15.0462 7.86788C15.0462 11.9369 11.7912 15.2359 7.77318 15.2359C3.75618 15.2359 0.500183 11.9369 0.500183 7.86788C0.500183 3.79888 3.75618 0.499878 7.77318 0.499878" stroke="#231F20"></path>
                            <path d="M12.8728 13.12L19.0218 18.799" stroke="#231F20"></path>
                        </svg>
                    </button>
                    <a href="#" class="search-close" title="Close">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="35px" height="35px"><path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"/></svg>
                    </a>
                </div>
               </form>
            </div>     
        </div>
    </header>
</div>

{% comment %} Mobile menu {% endcomment %}

<div class="mobile-nav">
    <ul>
        {% for link in linklists[section.settings.mobile_menu].links %}
     
        <li {% if link.links != blank %}class="has-submenu" {% endif %}> 
            <a href="{{ link.url }}" data-submenu="top-sellers-{{ forloop.index }}" title="{{ link.title }}">{{ link.title }}</a>
                {%- if link.links != blank -%}
            <div id="top-sellers-{{ forloop.index }}" class="submenu">
                <div class="submenu-header"> 
                    <a href="{{ link.url }}" data-submenu-close="top-sellers-{{ forloop.index }}" title="{{ link.title }}">{{ link.title }}</a>
                </div>
              {%- if link.links != blank -%}
                <ul>
                  {%- for child_link in link.links -%}
                    <li {% if child_link.links != blank %}class="has-submenu" {% endif %}>
                        <a href="{{ child_link.url }}"{%- if child_link.links != blank -%} data-submenu="new-in-submenu""{%- endif -%} title="{{ child_link.title }}">{{ child_link.title }}</a> 
                      {%- if child_link.links != blank -%}
                        <div id="new-in-submenu" class="submenu">
                            <div class="submenu-header"> 
                                <a href="{{ child_link.url }}" data-submenu-close="new-in-submenu" title="{{ child_link.title }}">{{ child_link.title }}</a>
                            </div>
                          {%- if child_link.links != blank -%}
                            <ul>
                            {%- for grandchild_link in child_link.links -%}
                                <li><a href="{{ grandchild_link.url }}" title="{{ grandchild_link.title }}">{{ grandchild_link.title }}</a></li>
                              {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {%- endif -%}
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
            </div>
                  {% endif %}
        </li>
        {% endfor %}
    </ul>
    <div class="mobile-login">
        <div class="mobile-login__wrapper">
            <a href="/account/login" class="mobile-link" title="login/register">login/register</a>
        </div>
    </div>
</div>	
<div class="mobile-nav-overlay"></div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
         "type": "image_picker",
         "id": "logo",
         "label": "logo image"
       },
      {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "label": "Mobile menu"
    }    
    ],
"blocks": [
     {
       "name": "Mega menu",
       "type": "mega_1",
       "settings": [
         {
           "type": "text",
           "id": "menu_title_2",
           "label": "Menu Title"
         },
         {
           "type": "url",
           "id": "menu_title_link_2",
           "label": "Menu Link"
         },
         {
           "type": "link_list",
           "id": "menu_style_2",
           "label": "Select menu"
         }
       ]
     }
    ]
  }
{% endschema %}