<style>
  .newsletter-form__message.newsletter-form__message--success {
    letter-spacing: 0.2px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 14px;
    display: flex;
    text-align: left;
    align-items: center;
    color: green;
    justify-content: center;
    margin-top: 25px;
    outline: none;
  }
  .newsletter-form__message..error-message {
    letter-spacing: 0.2px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 14px;
    display: flex;
    text-align: left;
    align-items: center;
    color: red;
    justify-content: center;
    margin-top: 25px;
  }
  div#empty_input {
    /* display: block !important; */
    margin: 10px 0;
    color: #f00;
    font-size: 14px;
}
  news-letter_msg{
    margin: 10px 0;
    color: #f00;
    font-size: 14px;
  }
  .footer-newsletter__wrapper {
    background: {{ section.settings.bg_color }};  
}
  .footer-newsletter__title h2,
  .newsletter-form__check label.form-label {
    color: {{ section.settings.text_color }};
}

  .footer-newsletter-form__wrapper  .footer__newsletter-btn {
    background: {{ section.settings.btn_bg_color }};
}
  .footer-newsletter-form__wrapper  .footer__newsletter-btn {
    color: {{ section.settings.btn_text_color }};
}      
  
</style>

<section class="footer-newsletter__wrapper">
  <div class="footer-newsletter__container">
    <div class="footer-newsletter__title">
      {% if section.settings.headimg != blank %}
        <h2>{{ section.settings.headimg }} </h2>         
      {% endif %}
    </div>
    <div class="newsletter-form">
      {% form 'customer', class: 'newsletter-form' %}
        <div class="footer-newsletter-form__wrapper">
          <input
            type="hidden"
            name="contact[tags]"
            value="newsletter"
          >
          <div class="floating-label-wrap">
            <input                  
                    type="email"
                    pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
                    name="contact[email]"
                    class="field__input footer__newsletter-input"
                    id="-email"                    
                    value="{{ form.email }}"
                    placeholder="Enter your email"
                    aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="Newsletter-error--{{ section.id }}"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="Newsletter-success--{{ section.id }}"
                    {% endif %}                                      
                  >
            <label class="floating-label">{{ section.settings.email }}</label>
            <button
              type="submit"
              class="footer__newsletter-btn"
              title="join"
            >
              {{ section.settings.emailbtn }}
            </button>         
          </div>
          <div id="empty_input1"></div>
          <div id="empty_input"></div>
          <div id="news-letter_msg"></div>
          {% if section.settings.checkbox_enable %}
            <div class="newsletter-form__check">
              <input
                type="checkbox"
                id="newsletter_footer_accept_terms"
                name="contact[tags]"
                class="styled-checkbox"
                value="Newsletter subscribed"                
                required
              >
              <label for="newsletter_footer_accept_terms" class="form-label">
                {{- section.settings.promosiontext -}}
              </label>
            </div>
          {% endif %}
          {%- if form.errors -%}
            <small class="newsletter-form__message form__message error-message" id="Newsletter-error--{{ section.id }}">
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </small>
          {%- endif -%}       
          {%- if form.posted_successfully? -%}
            <h3
              class="newsletter-form__message newsletter-form__message--success form__message"
              id="Newsletter-success--{{ section.id }}"
              tabindex="-1"
              autofocus
            >
              {{- 'newsletter.success' | t }}
            </h3>
          {%- endif -%}
        </div>
      {% endform %}
    </div>
  </div>
</section>

<script>
  
var emailInput;
$(".footer-newsletter-form__wrapper .field__input").on("change", function() {
  emailInput = $(this).val();
});

  $('.footer__newsletter-input').keyup(function(){
    $('#empty_input').show();
   if($.trim($('.footer__newsletter-input').val()) == ''){
     $('#empty_input').text('Please provide an email address!');
   }    
    else{$('#empty_input').text('');}
});
  
$('.footer__newsletter-btn').click(function(){
   var pattern = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
  $('#empty_input').show();
   if($.trim($('.footer__newsletter-input').val()) == ''){
    $('#empty_input').text('Please provide an email address!');    
     return false;
   }  
  else if (!$.trim(emailInput).match(pattern)) {
    $("#empty_input").text('Invalid Email Id!');
    $('#empty_input').delay(5000).hide(0);
    return false;
  }
});
</script>

{% schema %}
{
  "name": "Newsletter",
  "settings": [   
    {
     "type": "color",
      "id": "bg_color",
      "label": "Section background color",
      "default": "#fff6ef"
    },
    {
     "type": "color",
      "id": "text_color",
      "label": "text color",
      "default": "#000000"
    },
    {
     "type": "color",
      "id": "btn_bg_color",
      "label": "Button background color",
      "default": "#000000"
    },
    {
     "type": "color",
      "id": "btn_text_color",
      "label": "Button Text color",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "headimg",
      "label": "heading Text",
      "default": "Subscribe to our emails"
    },
    {
      "type": "text",
      "id": "email",
      "default": "Your email address",
      "label": "Email Placeholder"
    },
    {
      "type": "text",
      "id": "emailbtn",
      "default": "join",
      "label": "Button text"
    },
    {
      "type": "checkbox",
      "id": "checkbox_enable",
      "default": true,
      "label": "enable promosional checkbox"
    }, {
      "type": "textarea",
      "id": "promosiontext",
      "default": "I consent to receive promotional communications related to my purchase history, website browsing activity, and/or engagement with marketing materials.",
      "label": "promotion terms"
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}