<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
<style>
    div.zoom {
    & img:hover {
      opacity: 0 !important;
    }
    img {
      transition: opacity .5s !important;
      display: block !important;
      width: 100% !important;
    }
    background-position: 50% 50% !important;
    position: relative !important;
    overflow: hidden !important;
    cursor: zoom-in !important;
  }
  .no-js-hidden.visibility-hidden {
      visibility: visible;
  }
</style>

{% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
{% assign current_variant = product.selected_or_first_available_variant %}
<main class="product__main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="product-main-image__wrapper">
          {% comment %}
            {% render 'product-media-gallery', variant_images: variant_images %}
          {% endcomment %}
          <div class="product-thumb">
            {% for media in product.media %}
              <div class="item-slick {{ media.alt | replace: '/', '' | remove:" " }}">
                <img
                  src="{{ media |img_url: ''   }}"
                  alt="{{ media.alt }}"
                >
              </div>
            {% endfor %}
          </div>
          <div class="product-main-image">
            {% for media in product.media %}
              <div
                onmousemove="zoom(event)"
                style="background-image: url({{ media |img_url: '' }})"
                data-src="{{ media |img_url: '' }}"
                class="zoom item-slick {{ media.alt | replace: '/', '' | remove:" " }}"
              >
                <img
                  class="item-slick {{ media.alt | replace: '/', ''}}"
                  src="{{ media |img_url: ''   }}"
                  alt="{{ media.alt }}"
                >
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="product-details__wrapper">
          {% render 'prod-block' %}
          <div
            class="discount-code"

            style="
              background-color:{{ section.settings.annouce-bgc }};
              color:{{ section.settings.annouce-textc }};
            "
          >
            {{ section.settings.couponcode }}
          </div>
          <div
            class="free-delivery-promotion__banner"
            style="
              background-color:{{ section.settings.annouce-bgc2 }};
              color:{{ section.settings.annouce-textc2 }};
            "
          >
              {% comment %}
            <img
              src="https://cdn.shopify.com/s/files/1/0282/8166/7663/files/Vectorcrown.avif?v=1688994752"
              alt="Vectorcrown"
              width="25"
              height="20"
            >
            {% endcomment %}
            {{ section.settings.nextday }}
             {% comment %}
            <img
              src="https://cdn.shopify.com/s/files/1/0282/8166/7663/files/Vectorcrown.avif?v=1688994752"
              alt="Vectorcrown"
              width="25"
              height="20"
            >
            {% endcomment %}
          </div>
          {% assign current_variant = product.selected_or_first_available_variant %}
          <div class="product-sku">SKU: {{ current_variant.sku }}</div>
          <div class="product-decription">
            {{ product.description }}
          </div>
          <div class="pdp-accordion">
            {% if section.settings.tab_title_1 != blank and section.settings.meta_1 != blank %}
              <div class="tab">
                <button id="accordion-button-1" aria-label="size chart" aria-expanded="false">
                  <span class="accordion-title">{{ section.settings.tab_title_1 }}</span
                  ><span class="icon" aria-hidden="true"></span>
                </button>
                <div class="tab-content">
                  <div class="tab-content-inner">
                    {{ section.settings.meta_1 }}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if section.settings.tab_title_2 != blank and section.settings.delreturn != blank %}
              <div class="tab">
                <button id="accordion-button-2" aria-label="Delivery &amp; Returns" aria-expanded="false">
                  <span class="accordion-title">{{ section.settings.tab_title_2 }}</span
                  ><span class="icon" aria-hidden="true"></span>
                </button>
                <div class="tab-content">
                  <div class="tab-content-inner">
                    {{ pages[section.settings.delreturn].content }}
                  </div>
                </div>
              </div>
            {% endif %}
            {% if section.settings.tab_title_3 != blank and section.settings.meta_2 != blank %}
              <div class="tab">
                <button id="accordion-button-3" aria-label="Model" aria-expanded="false">
                  <span class="accordion-title">{{ section.settings.tab_title_3 }}</span
                  ><span class="icon" aria-hidden="true"></span>
                </button>
                <div class="tab-content">
                  <div class="tab-content-inner">{{ section.settings.meta_2 }}</div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "header",
      "content": "Add to cart button style"
    },
     {
      "type": "color",
      "id": "addcart-bgc",
      "label": " background color"
    },
    {
      "type": "color",
      "id": "addcart-textc",
      "label": " text color"
    },
    {
      "type": "header",
      "content": "ANNOUNCEMENT TEXT 1"
    },

      {
      "type": "html",
      "id": "couponcode",
      "label": "coupon Announcement"
    },
     {
      "type": "color",
      "id": "annouce-bgc",
      "label": " background color"
    },
    {
      "type": "color",
      "id": "annouce-textc",
      "label": " text color"
    },
    {
      "type": "header",
      "content": "ANNOUNCEMENT TEXT 2"
    },
    {
       "type": "html",
      "id": "nextday",
      "label": "Announcement"
    },
     {
      "type": "color",
      "id": "annouce-bgc2",
      "label": " background color"
    },
    {
      "type": "color",
      "id": "annouce-textc2",
      "label": " text color"
    },
    {
      "type": "header",
      "content": "TABS"
    },
    {
      "type": "text",
      "id": "tab_title_1",
      "label": "Tab 1 Title"
    },
    {
      "type": "richtext",
      "id": "meta_1",
      "label": "Tab 2"
    },
    {
      "type": "text",
      "id": "tab_title_2",
      "label": "Tab 2 Title"
    },
    {
       "type": "page",
      "id": "delreturn",
      "label": "Tab 2"
    },
    {
      "type": "text",
      "id": "tab_title_3",
      "label": "Tab 3 Title"
    },
    {
      "type": "richtext",
      "id": "meta_2",
      "label": "Tab 3"
    }
  ],
   "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Change The color of Prices"
        },
        {
          "type": "color",
          "id": "color_regular",
          "label": "Regular Price",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_sale_regular",
          "label": "Regular Price in sale Price",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_old__price",
          "label": "Old Price in sale Price",
          "default": "#999"
        },
        {
          "type": "color",
          "id": "color_special__price",
          "label": "Special Price in sale Price",
          "default": "#f388aa"
        }
      ]
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.sku.settings.text_style.label"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    }
   ],
  "presets": [
    {
      "name": "Product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
