<script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
{% comment %} PDP layout start {% endcomment %}
{% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}
{% assign current_variant = product.selected_or_first_available_variant %}
<main class="product__main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="product-main-image__wrapper">
          {% comment %}
            {% render 'product-media-gallery', variant_images: variant_images %}
          {% endcomment %}
          <div class="product-thumb">
            {% for media in product.media %}
              <div class="item-slick {{ media.alt | replace: '/', ''}}">
                <img
                  src="{{ media |img_url: ''   }}"
                  alt="{{ media.alt }}"
                >
              </div>
            {% endfor %}
          </div>
          <div class="product-main-image">
            {% for media in product.media %}
              <div class="item-slick {{ media.alt | replace: '/', ''}}">
                <img
                  class="item-slick {{ media.alt | replace: '/', ''}}"
                  src="{{ media |img_url: ''   }}"
                  alt="{{ media.alt }}"
                >
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="product-details__wrapper">
          {% comment %}
            <h1 class="product-main__title">{{ product.title }}</h1>
            <div class="product-main-price__wrapper">
              <div class="product__price">
                <div class="regular__price">
                  <span class="price">{{ current_variant.price | money_with_currency }}</span>
                </div>
              </div>
              <div class="product__price">
                <div class="old__price">
                  <span class="price">{{ current_variant.compare_at_price | money_with_currency }}</span>
                </div>
                <div class="special__price">
                  <span class="price">
                    {{-
                      current_variant.compare_at_price
                      | minus: current_variant.price
                      | difference: product.compare_at_price_max
                      | money_with_currency
                    -}}
                  </span>
                  (
                  {{-
                    current_variant.compare_at_price
                    | minus: current_variant.price
                    | times: 100
                    | divided_by: current_variant.compare_at_price
                  -}}
                  % OFF)
                </div>
              </div>
            </div>
            <div class="attribute-block__wrapper">
              <select id="product-select" name="id">
                {% for variant in product.variants %}
                  <option
                    value="{{ variant.id }}"
                    {% if variant == product.selected_or_first_available_variant %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ variant.title }} - {{ variant.price | money }}
                  </option>
                {% endfor %}
              </select>
              {% if product.available and product.variants.size > 1 %}
                {% render 'swatch' for product.options as swatch %}
              {% endif %}
              <div class="attribute-block">
                <label class="swatch-heading">Color</label>
                <div class="swatch-options colors">
                  <ul class="options">
                    <li>
                      <input type="radio" name="color-option" id="color-chocolate">
                      <label
                        for="color-chocolate"
                        aria-label="color chocolate"
                        title="color chocolate"
                        style="background-color: #d2691e"
                        >chocolate</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-blue">
                      <label
                        for="color-blue"
                        aria-label="color blue"
                        title="color blue"
                        style="background-color: #0000ff;"
                        >blue</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-peru">
                      <label for="color-peru" aria-label="color peru" title="color peru" style="background-color: peru;"
                        >peru</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-azure">
                      <label
                        for="color-azure"
                        aria-label="color azure"
                        title="color azure"
                        style="background-color: #f0ffff;"
                        >azure</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-white">
                      <label
                        for="color-white"
                        aria-label="color white"
                        title="color white"
                        style="background-color: #fff;"
                        >white</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-black">
                      <label
                        for="color-black"
                        aria-label="color black"
                        title="color black"
                        style="background-color: #000;"
                        >black</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-violet">
                      <label
                        for="color-violet"
                        aria-label="color violet"
                        title="color violet"
                        style="background-color: #ee82ee;"
                        >violet</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-red">
                      <label for="color-red" aria-label="color red" title="color red" style="background-color: #f00;"
                        >red</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-thistle">
                      <label
                        for="color-thistle"
                        aria-label="color thistle"
                        title="color thistle"
                        style="background-color: #d8bfd8"
                        >thistle</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-cadetblue">
                      <label
                        for="color-cadetblue"
                        aria-label="color cadetblue"
                        title="color cadetblue"
                        style="background-color: #5f9ea0"
                        >cadetblue</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-green">
                      <label
                        for="color-green"
                        aria-label="color green"
                        title="color green"
                        style="background-color: #008000;"
                        >green</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-orange">
                      <label
                        for="color-orange"
                        aria-label="color orange"
                        title="color orange"
                        style="background-color: #ffa500;"
                        >orange</label
                      >
                    </li>
                    <li>
                      <input type="radio" name="color-option" id="color-yellow">
                      <label
                        for="color-yellow"
                        aria-label="color yellow"
                        title="color yellow"
                        style="background-color: #ffff00;"
                        >yellow</label
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="attribute-block">
                <label class="swatch-heading">Size</label>
                <div class="swatch-options sizes">
                  <ul class="options">
                    <li>
                      <input type="radio" name="size-option" id="size-xs">
                      <label aria-label="size xs" title="size xs" for="size-xs">xs</label>
                    </li>
                    <li>
                      <input type="radio" name="size-option" id="size-s">
                      <label aria-label="size s" title="size s" for="size-s">s</label>
                    </li>
                    <li>
                      <input type="radio" name="size-option" id="size-m">
                      <label for="size-m" aria-label="size m" title="size m">m</label>
                    </li>
                    <li>
                      <input type="radio" name="size-option" id="size-l">
                      <label for="size-l" aria-label="size l" title="size l">l</label>
                    </li>
                    <li>
                      <input type="radio" name="size-option" id="size-xl">
                      <label for="size-xl" aria-label="size xl" title="size l">xl</label>
                    </li>
                  </ul>
                  <a href="#" class="size-chart-btn" title="Full Size Guide">Full Size Guide</a>
                </div>
              </div>
            </div>


              <div class="addtocart__block">
                <form method="post" action="/cart/add">
                  <div class="addtocart__block__wrapper">
                    <input name="id" value="{{ product.variants.first.id }}" type="hidden">
                    <button type="submit" name="add" title="Add to bag" aria-label="Add to bag" class="add-to-cart-btn">
                      <span>Add to bag</span>
                    </button>

                    <!--
                      <button title="Add to bag" aria-label="Add to bag" class="add-to-cart-btn">
                          <span>Add to bag</span>
                      </button>
                    -->
                    <a href="#" class="wishlist-btn" title="wishlist">
                      <svg
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                      >
                        <path d="M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"/>
                      </svg>
                    </a>
                  </div>
                </form>
              </div>
          {% endcomment %}
          {% render 'prod-block' %}
          <div class="discount-code">
            {{ section.settings.couponcode }}
          </div>
          <div class="free-delivery-promotion__banner">
            <img
              src="https://cdn.shopify.com/s/files/1/0282/8166/7663/files/Vectorcrown.avif?v=1688994752"
              alt="Vectorcrown"
              width="25"
              height="20"
            >
            {{ section.settings.nextday }}
            <img
              src="https://cdn.shopify.com/s/files/1/0282/8166/7663/files/Vectorcrown.avif?v=1688994752"
              alt="Vectorcrown"
              width="25"
              height="20"
            >
          </div>
          {% assign current_variant = product.selected_or_first_available_variant %}
          <div class="product-sku">SKU: {{ current_variant.sku }}</div>
          <div class="product-decription">
            {{ product.description }}
          </div>
          <div class="pdp-accordion">
            <div class="tab">
              <button id="accordion-button-1" aria-label="size chart" aria-expanded="false">
                <span class="accordion-title">Size Chart</span><span class="icon" aria-hidden="true"></span>
              </button>
              <div class="tab-content">
                <div class="tab-content-inner">
                  <div class="size-chart-wrapper">
                    <table class="size-chart">
                      <thead>
                        <tr>
                          <th>SIZE</th>
                          <th>AU</th>
                          <th>US</th>
                          <th>UK</th>
                          <th>EUR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>XS</td>
                          <td>6</td>
                          <td>2</td>
                          <td>6</td>
                          <td>34</td>
                        </tr>
                        <tr>
                          <td>S</td>
                          <td>8</td>
                          <td>4</td>
                          <td>8</td>
                          <td>36</td>
                        </tr>
                        <tr>
                          <td>M</td>
                          <td>10</td>
                          <td>6</td>
                          <td>10</td>
                          <td>38</td>
                        </tr>
                        <tr>
                          <td>L</td>
                          <td>12</td>
                          <td>8</td>
                          <td>12</td>
                          <td>40</td>
                        </tr>
                        <tr>
                          <td>XL</td>
                          <td>14</td>
                          <td>10</td>
                          <td>14</td>
                          <td>42</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab">
              <button id="accordion-button-2" aria-label="Delivery &amp; Returns" aria-expanded="false">
                <span class="accordion-title">Delivery &amp; Returns</span><span class="icon" aria-hidden="true"></span>
              </button>
              <div class="tab-content">
                <div class="tab-content-inner">
                  {{ pages[section.settings.delreturn].content }}
                </div>
              </div>
            </div>
            <div class="tab">
              <button id="accordion-button-3" aria-label="Model" aria-expanded="false">
                <span class="accordion-title">Model</span><span class="icon" aria-hidden="true"></span>
              </button>
              <div class="tab-content">
                <div class="tab-content-inner">dummy text</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% comment %} PDP layout end {% endcomment %}

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "header",
      "content": "Coupon code block"
    },
    {
       "type": "html",
      "id": "couponcode",
      "label": "coupon code text "
    },
    {
      "type": "header",
      "content": "Next Delevery block"
    },
    {
       "type": "html",
      "id": "nextday",
      "label": "Next Delevery Text"
    },
    {
      "type": "header",
      "content": "Delevery return Block"
    },
    {
       "type": "page",
      "id": "delreturn",
      "label": "Delevery and return"
    }
  ],
   "blocks": [
    {
      "type": "@app"
    },
     {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.sku.settings.text_style.label"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    }
   ],
  "presets": [
    {
      "name": "Product"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
